* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: white;
  text-align: center;
}

/* Login background */
.login-page {
  background: url("images/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Quiz background */
.quiz-page {
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  height: 100vh;
  padding-top: 30px;
}

/* Box */
.container, .quiz-box {
  width: 950px;
  padding: 75px;
  margin: auto;
  background: rgba(0,0,0,0.7);
  border-radius: 15px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #00c6ff;
}

/* Question */
#question {
  margin-bottom: 20px;
}

/* Error */
#error {
  color: red;
}

.quiz-page {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Full background image + blur */
.quiz-page::before {
  content: "";
  position: fixed;   /* 🔥 important */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("images/quiz-bg.jpg") no-repeat center center;
  background-size: cover;

  filter: blur(4px);
  transform: scale(1.1);

  z-index: -2;
}

/* Dark overlay */
.quiz-page::after {
  content: "";
  position: fixed;   /* 🔥 important */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  z-index: -1;
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: darkred;
}